includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 8

    paths:
        - omoikane-simple-sales-reports.php
        - src

    bootstrapFiles:
        - vendor/szepeviktor/phpstan-wordpress/bootstrap.php
        - phpstan-bootstrap.php

    excludePaths:
        analyse:
            - vendor
